/* css for header */
header{
    margin: -8px;
    padding: 20px;
    font-family: 'Fruktur', cursive;
    font-size: 80px;
    text-align: center;
    color: rgb(150, 21, 150);
    -webkit-text-stroke: 5px black;
    letter-spacing: -6px;
    /* adding background image to header */
    background-image: url(headerbg.jpg);
    /* adding shadow to header */
    box-shadow: 0px 6px 10px 0 rgba(38, 35, 35, 0.289);
    /* making the header stick to top on scrolling */
    position: fixed;
    width: 100%;
}
/* category image css */
img{
    width: 80px;
    height: 80px;
    padding: 40px 48px 40px 48px;
}
/* css for table elements */
td{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.686);
}
.tablespacing{
    border-spacing: 58px 175px;
    height: 900px;
}
/* css for start button */
a{
    text-decoration: none;
    background-color: rgb(150, 21, 150);
    color: white;
    padding: 7px 80px 7px 80px;
    border-radius:0px 0px 5px 5px;
    transform: translateY(100px);
}
/* css for different category headings */
span{
    background-color: rgb(150, 21, 150);
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
}
#sports{
    padding-left: 75px;
    padding-right: 76px;
    border-radius: 5px 5px 0 0;
}
#entertainment{
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 5px 5px 0 0;
}
#inventions{
    padding-left: 62.5px;
    padding-right: 62.5px;
    border-radius: 5px 5px 0 0;
}
#geography{
    padding-left: 59px;
    padding-right: 59px;
    border-radius: 5px 5px 0 0;
}
#art{
    padding-left: 86.5px;
    padding-right: 86px;
    border-radius: 5px 5px 0 0;
}
#history{
    border-radius: 5px 5px 0 0;
    padding-left: 72.5px;
    padding-right: 72.5px;
}
#space{
    border-radius: 5px 5px 0 0;
    padding-left: 77px;
    padding-right: 77px;
}
#literature{
    border-radius: 5px 5px 0 0 ;
    padding-left: 63px;
    padding-right: 63px;
}
#reasoning{
    border-radius: 5px 5px 0 0 ;
    padding-left: 61.5px;
    padding-right: 61.5px;
}
#biolife{
    border-radius: 5px 5px 0 0 ;
    padding-left: 75px;
    padding-right: 75px;
}
